# Private files
config.json
private/*
*.db

# Editor files
*.swp
*.code-workspace

# Virtualenv stuff
bin/*
include/*
lib/*
local/*
share/*
.Python
pip-selfcheck.json

# Other junk
.DS_Store
__pycache__
